*.xls*
*.doc*
*.ppt*
*.dll
*.exe
*.idx
*.grp
*.png
*.bak
*.col
*.R3
*.debug
*.dat
*.apk
*.geo
*.lua1
*.cmd
*.out
.ssh/
/*.txt
/*.log
/*.json
/new*
settings.json
UPEdit/
AFJ*/
ekd2/
map/
sound/
music/
script/out/
script/*.txt